<head>
	<title>Brand new Brand</title>

	<meta charset="utf-8">
	<meta name="Description" content="Jesteśmy firmą oferującą szeroki zakres usług z dziedziny reklamy w sieci od tworzenia i promowanie stron internetowych i fanpage na portalach społecznościowych po tworzenie spotów reklamowych">
	<meta name="Keywords" content="ads, advertising, video, graphics, grafiki,  SEO, pozycjonowanie, Brand new Brand, BnB, Szymon Kozioł, tworzenie grafik, projekty graficzne, reklamy, spoty reklamowe, spoty, frondend developer, frondend, developer, programista, programiści, adwords, google">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ page.prefixo }}assets/css/main-style.css">
</head>