<nav class="navbar fixed-top">
  <div class="col-xl-8 mx-auto d-flex align-items-center justify-content-between">
    <a class="m-0 p-0" href="#page-top"><h4 class="text-white m-0 p-0">Brand new <span class="text-primary">Brand</span></h4></a>
    <ul class="d-flex navbar align-items-center m-0 p-0">
      <li class="nav-item"><a class="nav-link" href="#about">O nas</a></li>
      <li class="nav-item"><a class="nav-link" href="#offer">Oferta</a></li>
      <!-- <li class="nav-item"><a class="nav-link" href="">Portfolio</a></li>
      <li class="nav-item"><a class="nav-link" href="">Opinie</a></li> -->
      <li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
    </ul>
  </div>
</nav>