<nav class="navbar fixed-top container-fluid m-0">
  <div class="nav-content mx-auto row align-items-center justify-content-between">
    <a class="m-0 py-0 px-4 col-md-5 d-flex align-items-center" href="#page-top"><div class="nav-logotype"></div><h4 class="text-white m-0 p-0 logo-font">Brand new <span class="text-primary">Brand</span></h4></a>
    <ul class="d-flex navbar align-items-center m-0 py-0 col-md-7 justify-content-end px-4">
      <li class="nav-item"><a class="nav-link" href="#about">O nas</a></li>
      <li class="nav-item"><a class="nav-link" href="#offer">Oferta</a></li>
      <!-- <li class="nav-item"><a class="nav-link" href="">Portfolio</a></li>
      <li class="nav-item"><a class="nav-link" href="">Opinie</a></li> -->
      <li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
    </ul>
  </div>
</nav>