<section id="about" class="about d-flex flex-column justify-content-center container-fluid px-3">
	<div class="row align-items-center justify-content-around">
		<div class="col-lg-3 about-logotype"></div>
		<div class="col-lg-6 p-4">
			<h2 class="section-header">Co to jest Brand new <span class="text-primary">Brand?</span></h2>
			<div class="v-line w-50 mt-5"></div>

			<h4 class="mt-5 text-justify">Zajmujemy się tworzeniem kampanii promocyjnych dla zarówno młodych firm, dopiero przecierających swoje szlaki, jak i dla tych z większym doświadczeniem. <br><br>Pomagamy dotrzeć do większego grona odbiorców dostosowując profil reklamy do panujących trendów i potrzeb. Nasz zespół składa się z kreatywnych młodych ludzi znających się na „rzeczy”.</h4>

		</div>
	</div>
</section>
