<header class="header-bg">
  <video autoplay muted loop id="myVideo">
    <source src="assets/video/bg-1.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="header-content mx-auto row align-items-center justify-content-center h-100">
    <div class="col-md-5 p-4"><div class="logo-big"></div></div>
    <div class="h-line h-50"></div>
    <div class="col-md-5 p-5 d-flex flex-column justify-content-center">

      <h3 class="header-text font-italic">Zaprzestać reklamy by oszczędzać pieniądze to jak zepsuć zegar by zatrzymać czas.</h3>
      <h5 class="text-right mt-3">Thomas Jefferson</h5>

    </div>
    <div class="start col-md-12 d-flex flex-column align-items-center">
      <h6 class="text-center">Praca to połowa sukcesu...​<br>
        Drugie pół to dobry marketing!</h6>
      <a href="#about">
          <i class="fa fa-angle-double-down fa-3x border-circle"></i>
      </a>
    </div>
  </div>
  
</header>