<section id="offer" class="offer d-flex flex-column justify-content-center container-fluid">
	<div class="row">
		<div class="col-lg-10 mx-auto">
			<h2 class="section-header">Co możemy Ci zaproponować?</h2>
			<div class="v-line w-50 mt-5"></div>

			<div class="row mt-5 justify-content-center">
				<div class="col-xl-4">
					<div class="offer-box">
						<div class="row align-items-center justify-content-between">
							<div class="col-8">Tworzenie stron internetowych</div>
							<div class="col-4"><i class="fa fa-code border-circle-big"></i></div>
						</div>
						<ul>
							<li>Tworzenie szablonów WordPress</li>
							<li>Podpinanie do CMS</li>
							<li>Pełna responsywność</li>
							<li>Nowoczesny layout</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="offer-box">
						<div class="row align-items-center justify-content-between">
							<div class="col-8">Tworzenie sklepów internetowych</div>
							<div class="col-4"><i class="fa fa-code border-circle-big"></i></div>
						</div>
						<ul>
							<li>Współpraca z PrestaShop</li>
							<li>Pomoc przy konfigurowaniu ustawień</li>
							<li>Dodawanie produktów</li>
							<li>Raport z Audytu strony</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="offer-box">
						<div class="row align-items-center justify-content-between">
							<div class="col-8">Pozycjonowanie stron</div>
							<div class="col-4"><i class="fa fa-code border-circle-big"></i></div>
						</div>
						<ul>
							<li>Co miesięczny raport z pracy</li>
							<li>Wymierne skutki</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="offer-box">
						<div class="row align-items-center justify-content-between">
							<div class="col-8">Kampanie Internetowe</div>
							<div class="col-4"><i class="fa fa-code border-circle-big"></i></div>
						</div>
						<ul>
							<li>Stworzenie Kampanii</li>
							<li>Optymalizacja celu</li>
							<li>Optymalizacja Kampanii</li>
							<li>Intensyfikacja budżetu</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="offer-box">
						<div class="row align-items-center justify-content-between">
							<div class="col-8">Brand building</div>
							<div class="col-4"><i class="fa fa-code border-circle-big"></i></div>
						</div>
						<ul>
							<li>Projekty graficzne stron internetowych</li>
							<li>Tworzenie identyfikacji marki</li>
							<li>Tworzenie logotypów</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>